obj/dotnet-rpg.csproj.nuget.dgspec.json
obj/dotnet-rpg.csproj.nuget.g.props
obj/dotnet-rpg.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/dotnet-rpg.AssemblyInfo.cs
obj/Debug/net5.0/dotnet-rpg.AssemblyInfoInputs.cache
obj/Debug/net5.0/dotnet-rpg.assets.cache
obj/Debug/net5.0/dotnet-rpg.csproj.AssemblyReference.cache
obj/Debug/net5.0/dotnet-rpg.csproj.CopyComplete
obj/Debug/net5.0/dotnet-rpg.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/dotnet-rpg.csproj.FileListAbsolute.txt
obj/Debug/net5.0/dotnet-rpg.dll
obj/Debug/net5.0/dotnet-rpg.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/dotnet-rpg.genruntimeconfig.cache
obj/Debug/net5.0/dotnet-rpg.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net5.0/dotnet-rpg.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net5.0/dotnet-rpg.pdb
obj/Debug/net5.0/dotnet-rpg.RazorTargetAssemblyInfo.cache
obj/Debug/net5.0/ref/dotnet-rpg.dll
obj/Debug/net5.0/staticwebassets/dotnet-rpg.StaticWebAssets.Manifest.cache
obj/Debug/net5.0/staticwebassets/dotnet-rpg.StaticWebAssets.xml
bin/Debug/net5.0/appsettings.Development.json
bin/Debug/net5.0/appsettings.json
bin/Debug/net5.0/dotnet-rpg.deps.json
bin/Debug/net5.0/dotnet-rpg.dll
bin/Debug/net5.0/dotnet-rpg.exe
bin/Debug/net5.0/dotnet-rpg.pdb
bin/Debug/net5.0/dotnet-rpg.runtimeconfig.dev.json
bin/Debug/net5.0/dotnet-rpg.runtimeconfig.json
bin/Debug/net5.0/Microsoft.OpenApi.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net5.0/ref/dotnet-rpg.dll
